<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ThreadPoolConfig" type="LJC.FrameWork.ConfigurationSectionHandler.ThreadPoolConfig, LJC.FrameWork"/>
  </configSections>
  <ThreadPoolConfig MaxWorkerThreads="1000" MinWorkerThreads="100" MaxCompletionPortThreads="1000" MinCompletionPortThreads="100"/>
  <appSettings>
    <add key ="Debug" value ="true"/>
    <add key ="ServerPort" value ="2000"/>
    <add key ="NetLogServer" value ="192.168.1.99"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
